body {
    box-sizing: border-box;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    text-align: center;
    color: black;
    padding: 0.5em;
}

nav {
    margin-bottom: 10px;
}

nav ul {
    text-align: center;
    background-color: lightgreen;
}

nav ul li{
    display: inline-block;
    padding: 1em;
}

img {
    margin: 1em;
    border: 2px dashed orange;
    width: 60%
}

img:hover {
    box-shadow: 10px 10px 5px lightblue;
}

.current-page {
    font-weight: bold;
}